
<div class="container">
    <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3 ">
      <div class="col">
        <div class="p-2 border bg-secondary light text-align: text-center text-white "><h2>CLASSEMENT DES CLIPS</h2>
           </div>
      </div>
    </div>
  </div>
  <br> 
  <div class="container">
    <div class="text-center"> 
      <a type="button" class="btn btn-outline-secondary btn-SM"  routerLink="rankday">1 J</a>
      <a type="button" class="btn btn-outline-secondary btn-SM" routerLink="rankweek">1 S</a>    
      <button type="button" class="btn btn-outline-secondary btn-SM">1 M</button>
      <button type="button" class="btn btn-outline-secondary btn-SM">6 M</button>
      <button type="button" class="btn btn-outline-secondary btn-SM">1 A</button>
     
  
  
  </div>
  <br>
  
 