<nav class="navbar navbar-expand-lg navbar sticky-top navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="">
    <img src="../assets/1.png" width= "60" height="50"> AllStars <span>-Tunisia </span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="classement">Classement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="fiche">Fiches Rappeurs</a>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" routerLink="join">Se Connecter</a>
          </li>
          <li class="nav-item">
      
      
      </li>
      
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>








<!-- footer-->

















<footer class="B text-center">
<p>COPYRIGHT&copy; HORTENSIA AGENCY &copy; Tous Droits Réservé
  <a href>Systeme de Score</a>| <a href>Nous Contacter</a>| <a href>Qui Sommes Nous?</a>
<div class="follow text-center">
<img src="../assets/fb.png" width= "60" height="50" >
<img src="../assets/ig.png" width= "40" height="40" >
<img src="../assets/tw.png" width= "40" height="40" >
</div>
</footer>