.btn-outline-primary {
    font-size:  20px;
    font-weight: 400px;
    width: 50px;
    height: 50px;
   
  }
.table-striped{width: 50%;
  margin: auto;
  padding: 20px;
  resize: both;
  overflow: auto;}
.table tr{
  font-size: 20px;
 
}  

img{
  height: 80px;
  width: 150px;
}
textarea{
  font-size: 12px;
  height: 80px;
  width: 100px;
}
.vue{
  font-size: 9px;
}
